{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{% static 'style/layout.css' %}" rel="stylesheet">
        <title>Night and Day Tour</title>
    </head>
    <body class="{% if header %}greenBack{% else %}landingBack{% endif %}">
        {% if header %}
            {% include 'components/header.html' %}
        {% endif %}
        <div class="mainCont">
            {% block content %}

            {% endblock %}
        </div>
        {% if not noFooter %}
        <footer class="green" style="font-weight:bold;">
            <p>&copy; 20245 Night-N-Day Tour | All rights reserved</p>
        </footer>
        {% endif %}
    </body>
</html>
