.pictureLogo{
    width: 70%;
    margin: auto;
    /* display: flex; */
    /* justify-content: center; */
    margin-top: 22px;
}
.pictureLogo #logo{
    position: absolute;
    top: 143px;
}
.gradientBG{
    width: 50px;
    height: 50px;
    background: #000000;
    border-radius: 276px;
    position: absolute;
    top: 300px;
    z-index: 0;
    box-shadow: #9b00d8 0 0 207px 151px;
}
.nameBox{
    color: white;
    position: relative;
    /* border: 12px solid #def0fe; */
    /* border-radius: 43px; */
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 154px;
    font-family: fantasy;
    font-weight: bold;
    /* background: #3d0a54; */
    z-index: 1;
}
.picture_border{
    display: flex;
    justify-content: center;
    border: 26px #431252 solid;
    border-radius: 274px;
    overflow: hidden;
}