.artistMainCont{
    background: black;
    border: 10px white solid;
    border-radius: 60px;
    width: 883px;
    margin: auto;
    margin: 0;
    padding-bottom: 35px;
}
.pictureLogo{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 22px;
}
.pictureLogo #logo{
    position: absolute;
    top: 215px;
}
.contentArea{
    position: relative;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    overflow: scroll;
}
.videoGap{
    margin-top:60px; 
    text-align:center;
}
.headerFont{
    font-size: 42px;
    font-family: sans-serif;
    font-weight: bold;
    color: white;
}
.gradientBG{
    width: 50px;
    height: 50px;
    background: #000000;
    border-radius: 276px;
    position: absolute;
    top: 300px;
    z-index: 0;
    box-shadow: #6547ff 0 0 207px 151px;
}
.mainHolder{
    width: 903px;
    margin: auto;
    margin-top: 77px;
    box-shadow: 0 0 89px -25px #2300ff;
    border-radius: 62px;
}