{% load static %}
<link href="{% static 'style/header.css' %}" rel="stylesheet">
<header>
    <div class="green headerTitle">Day-N-Night Tour</div>
    <div class="tabsCont">
        <div class="tab">
            <a href="{% url 'tourDates' %}">Tour Schedule</a>
        </div>
        <div class="tab">
            <a href="{% url 'tja' %}">TJA</a>
        </div>
        <div class="tab">
            <a href="{% url 'jay' %}">Jay Willy</a>
        </div>
        <div class="tab">
            <a href=#>Content Upload</a>
        </div>
        {% if admin %}
        <div>
            <a href="{% url 'addshows' %}">Content Upload</a>
        </div>
        {% endif %}
    </div>
</header>
