{% load static %}
<link href="{% static 'style/header.css' %}" rel="stylesheet">
<header>
    <div style="width: 50%;">
        <img src="{% static 'images/neon_day_night.png' %}" style="width:40px;width: 60px;margin-left: 20px;">
    </div>
    <div class="tabsCont">
        <a href="{% url 'tourDates' %}">Tour Schedule</a>
        <div class="dropdown">
            <button class="dropbtn">Artists
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="{% url 'tja' %}">TJA</a>
                <a href="{% url 'jay' %}">Jay Willy</a>
                <a href="{% url 'jay' %}">Melius</a>
            </div>
        </div>
        <a href=#>Content Upload</a>
        {% if admin %}
        <div>
            <a href="{% url 'addshows' %}">Add Shows</a>
        </div>
        {% endif %}
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
    </div>
</header>
